@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic !important;
  box-sizing: border-box;
}

#logo img {
  float: left;
  width: 60px;
  height: auto;
  margin-left: 20px;
}

.login-page {
  background: whitesmoke;
}

#active {
  color: aqua;
}
.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(index-page-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
}

#search-bar {
  float: right;
  margin-right: 30px;
  padding: 5px;
  margin-top: -40.5px;
}

#search-cat {
  font-size: 18px;
  padding: 6px;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(109, 5, 5);
  width: 200px;
  font-style: italic;
  font-weight: lighter;
}

button {
  font-size: 20px;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  color: rgb(109, 5, 5);
}

.nav {
  float: right;
  font-size: 21px;
  margin-right: 20px;
}

.nav ul li {
  display: inline-block;
  padding: 0px 6px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}

.nav ul li:hover {
  color: aqua;
}

.cat {
  margin-left: 40px;
  margin-top: 30px;
  font-size: 30px;
  color: rgb(109, 5, 5);
  border-bottom: 2px solid rgb(109, 5, 5);
  width: 142px;
  padding-bottom: 2px;
}

.title {
  color: #fff;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-weight: bold;
}

.searchpro {
  border: 1px solid;
  padding: 2px 6px;
  border-radius: 25px;
  background: none;
}

.searchpro:hover {
  cursor: pointer;
  background: rgb(109, 5, 5);
  color: antiquewhite;
}

.sec-search {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 90px;
  margin-right: 40px;
}

.sec-search ul li {
  display: inline-block;
  padding-right: 30px;
}

.dropdown {
  font-size: 16px;
  border: none;
  border-bottom: 1.5px solid rgb(109, 5, 5);
  background: none;
}

.search {
  font-size: 18px;
  padding: 7px 12px;
  border: 1px solid #000;
  border-radius: 25px;
  background: none;
}

.search:hover {
  cursor: pointer;
  background: rgb(109, 5, 5);
  color: antiquewhite;
}

.wrap {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s ease;
  width: 300px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  float: left;
  margin: 10px;
  padding: 10px 5px;
  border-radius: 10px;
  filter: brightness(94.5%);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0 0 0 0.6);
  cursor: pointer;
}

.view-more {
  margin-top: 6px;
  padding: 4px 9px;
  border-radius: 25px;
  background: none;
  border: 1px solid #000;
}

.view-more:hover {
  background: rgb(109, 5, 5);
  color: antiquewhite;
  cursor: -webkit-grab;
}

.container {
  font-weight: bold;
}

.readme {
  margin-left: 570px;
  margin-top: -120px;
}
